# Custom folder attributes in OS/X
.DS_Store

# Merge files from git
*.orig
*.backup
*.base
*.local
*.remote

# NPM modules
node_modules/

# This is a directory created by WebStorm
.idea

# Prepros is a compilation and file server tool
prepros.cfg

# Build directory
build/

#npm debug
npm-debug.log