<!DOCTYPE html>
<html lang="en" data-ng-app="tibialotteryApp">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>TibiaLottery</title>

	<link href="/build/bower/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/build/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/build/bower/angular-material/angular-material.css" rel="stylesheet">
    <link href="/build/css/style.min.css" rel="stylesheet">

    <script src="/build/bower/jquery/dist/jquery.min.js"></script>
    <script src="/build/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/build/bower/underscore/underscore-min.js"></script>
    <script src="/build/bower/moment/min/moment.min.js"></script>

	<!-- Angulars -->
	<script src="/build/bower/angular/angular.js"></script>
	<script src="/build/bower/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="/build/bower/angular-material/angular-material.js"></script>
	<script src="/build/bower/angular-animate/angular-animate.js"></script>
	<script src="/build/bower/angular-aria/angular-aria.js"></script>
	<script src="/build/bower/angular-messages/angular-messages.js"></script>
	<script src="/build/bower/angular-cookies/angular-cookies.min.js"></script>

	<!-- App code -->
	<script src="/build/js/script.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
			<div class="navbar-brand">
				<img src="/build/img/dice_content.png" alt="dice" class="navbar-brand-img" />
				<a data-ui-sref="index">TibiaLottery</a>
			</div>
        </div>
        <div id="navbar" class="navbar-collapse collapse" ng-controller="UserInfoPartialController as uipCtrl" ng-cloak>
			<ul class="nav navbar-nav navbar-right" ng-if="uipCtrl.loading === false && uipCtrl.loggedIn === false">
				<li data-ng-class="{active: $state.includes('account.login')}"><a data-ui-sref="account.login" data-ng-bind="'Login'"></a></li>
				<li data-ng-class="{active: $state.includes('account.register')}"><a data-ui-sref="account.register" data-ng-bind="'Register'"></a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" ng-if="uipCtrl.loading === false && uipCtrl.loggedIn === true">
				<li data-ng-class="{active: $state.includes('account')}"><a data-ui-sref="account"><i class='fa fa-user'></i> {{uipCtrl.user.Name}}</a></li>
			</ul>
		</div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li data-ng-class="{active: $state.includes('index')}"><a data-ui-sref="index">Home<span class="sidebar-icon"><i class="fa fa-home"></i></span></a></li>
                <li data-ng-class="{active: $state.includes('news')}"><a data-ui-sref="news">News<span class="sidebar-icon"><i class="fa fa-newspaper-o"></i></span></a></li>
                <li data-ng-class="{active: $state.includes('lottery') || $state.includes('lotteryView')}"><a data-ui-sref="lottery">Lotteries<span class="sidebar-icon"><i class="fa fa-ticket"></i></span></a></li>
                <li data-ng-class="{active: $state.includes('stats')}"><a data-ui-sref="stats">Statistics<span class="sidebar-icon"><i class="fa fa-line-chart"></i></span></a></li>
                <li data-ng-class="{active: $state.includes('faq')}"><a data-ui-sref="faq">FAQ<span class="sidebar-icon"><i class="fa fa-question"></i></span></a></li>
                <li data-ng-class="{active: $state.includes('contact')}"><a data-ui-sref="contact">Contact<span class="sidebar-icon"><i class="fa fa-envelope-o"></i></span></a></li>
            </ul>
			<a href="http://www.tibia.com/community/?subtopic=fansites" target="_blank"><img src="/build/img/supported.gif" alt="We're a supported fansite!" /></a>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" >
			<div ui-view></div>
		</div>
    </div>
</div>

</body>
</html>