<md-dialog aria-label="Change Password" ng-cloak>
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Change Password</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<i class="fa fa-times" style="font-size: 20px;" aria-label="Close dialog"></i>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<md-input-container>
					<label>Current Password</label>
					<input data-ng-model="oldPassword" type="password">
				</md-input-container>
				<md-input-container>
					<label>New Password</label>
					<input data-ng-model="newPassword" type="password">
				</md-input-container>
				<md-input-container>
					<label>Confirm New Password</label>
					<input data-ng-model="newPasswordConfirmation" type="password">
				</md-input-container>
				<div class="md-warn-text" ng-show="errored">
					{{errorMessage}}
				</div>
			</div>
		</md-dialog-content>
		<div class="md-actions" layout="row">
			<md-button class="md-raised" ng-click="cancel()" >
				Cancel
			</md-button>
			<md-button class="md-raised" ng-click="change()" style="margin-right:20px;" >
				Change Password
			</md-button>
		</div>
	</form>
</md-dialog>