<div layout="column" data-ng-cloak>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title md-title">Login</div>
		</div>
		<div class="panel-body">
			<form name="loginForm">
				<md-content>
					<md-input-container>
						<label>Login ID</label>
						<input data-ng-model="user.login" type="text" required>
					</md-input-container>
					<md-input-container>
						<label>Password</label>
						<input data-ng-model="user.password" type="password" required>
					</md-input-container>
					<md-input-container>
						<md-checkbox class="md-primary" data-ng-model="user.remember">Remember me</md-checkbox>
					</md-input-container>
					<div ng-show="loginCtrl.submitting">
						<md-progress-linear md-mode="indeterminate"></md-progress-linear>
						<br />
					</div>
					<div ng-hide="registerCtrl.error.length === 0">
						<div class="md-warn-text" data-ng-bind-html="trustAsHtml(loginCtrl.error)"></div>
						<br />
					</div>
				</md-content>
				<md-button class="md-raised" ng-disabled="loginCtrl.submitting" ng-click="loginCtrl.login()">Login</md-button>
				<md-button data-ui-sref="account.login.reset" class="md-raised md-primary">Forgot Password</md-button>
			</form>
		</div>
	</div>
</div>