.logo-container {
  height: 129px;
  position: relative;

  img {
    display: block;
    margin: auto;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    left: 0;
    right: 0;
  }
}

.site-intro {
  position: relative;

  .h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0;
  }
}
